body {
  background: url(../Bootstrap-Portfolio/Images/img1.jpg) repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  margin-bottom: 5rem;
}

#divheight {
  height: 200px;
}

.container {
  color: white;

  height: 10rem;
}

#divheight2 {
  height: 3rem;
}

#divheight3 {
  height: 5rem;
}

.lead {
  font-size: 25pt;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.display-4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 5rem;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
}

.headerContainer {
  text-align: center;
  background-color: rgb(56, 53, 53);
}

.row {
  margin: 0;
}
.centerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-text {
  color: black;
}
.card-title {
  color: black;
}
#divheightExtreme {
  height: 10rem;
}
