body { 
    background: url(./img1.jpg) repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    widows: 100%;
    margin-bottom: 5rem;
  }

  

#divheight {
    height: 200px;
}

.container {
   color: white;

   height: 10rem;
}

#divheight2 {
    height: 1rem;
}

#divheight3 {
    height: 5rem;
}

.lead {
    font-size: 25pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.display-4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 5rem;
}

h1 {
    text-align: center;
    background-color: teal;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    background-color: teal;
}

.flexContainer {
    display: flex;
    align-items: center;
}

